.img-pagination-loader {
    margin-top: -13px;
    margin-left: 10px;
}

.relative {
    position: relative;
}

.product_image:hover .mask {
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 79px;
}

.revertPosition {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.changePosition {
    margin: 6px;
    margin-top: 4px;
    cursor: pointer;
}

.sort-by {
    min-width: 170px;
}