.img-pagination-loader {
    margin-top: -13px;
    margin-left: 10px;
}

.relative {
    position: relative;
}

.product_image:hover .mask {
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 79px;
}